body {
  padding-top: 50px;
  background: rgb(207, 204, 204);
  margin: 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  background-image: url('pics/title_pic.png');
  color:rgb(253, 253, 253);
}

hr { margin: 20px 0 20px 0; }

.center-block {  
  width:640px;
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}

#navbar{
  background-color:rgb(160, 39, 39);
  color:white;
  text-align:center;
  border: none;
}

.navbar-inverse{
  background-color:rgb(160, 39, 39);
  color:white;
  text-align:center;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav .active a { background: rgb(204, 11, 11) !important; }

.center-block{
  border-radius: 25px;
  background: rgb(241, 239, 239);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.img-rounded{
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navbar-brand{
  margin-top: 0;
  padding-top: 5px;
}

.navbar .navbar-brand {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.lead {
  font-weight: 500;
}

.code_names {

  font-weight: 900;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

figcaption {
  padding-top: 15px;
}